html {
  -webkit-text-size-adjust: none;  /* for Chrome/Android/iOS Keeps text size what you say they are on phones*/
  text-size-adjust: none;          /* standard property */
}
.wrapper {
    background: rgb(192, 215, 224);
    width: 80%;
    max-width: 1200px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: linear-gradient(to bottom, darkgray, #FFFFFF);
    background-repeat: no-repeat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-top: 0
}
header {
    background-color: rgb(241, 242, 244);
    color: rgb(69,71,56);
    background-image: url(irisDrawing.jpg);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 3px;
    text-indent: 1em;
}

nav {
    background-color: rgb(241, 242, 244);
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 6px;
    border-bottom: 2px solid black;
    padding-left: 1em;
    font-size: 1em;
}
nav a {
    text-decoration: none; /*This makes no underlines on nav hyperlinks*/
    transition:color 4s linear;
    font-size: 1em;
}
/* Bigger size for Android/phones (screen ≤ 1080px) */
@media only screen and (max-width: 1080px) {
  nav a {
    font-size: 1em;  /* adjust to what looks good */
  }
  .wrapper {
    width: 100%;
    max-width: 3000px;
    min-width: 350px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
  }
  #gallery2 {/*This is for the Portfolio*/
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.3em;
  }
  #gallery {/*This is for the Portfolio*/
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1em;
  }
  #gallery figure figcaption{/*This is for the Portfolio*/
    font-size: 1em;
  }
}
a:hover {
    color: #13bcd3;
}
nav a:hover {
    transition-property: color;
    transition-duration: 0s;
    transition-timing-function: linear;
}
.theHeader {
    margin: 0;
    padding: 0;
    text-align: left;
}
h2 {
    color: rgb(69,71,56);
}
h3 {
    color: rgb(69,71,56);
}
ul{
    list-style-image: url(irisDrawing-s.jpg);
}
footer {
    font-size: 1em;
    font-style: italic;
    background-color: rgb(241, 242, 244);
}
.centered {
    text-align: center;
}
.platypi-justin {
    font-family: "Platypi", serif;
    font-weight: 600;
    font-style: normal;
}
/*for the About*/
#about {
    background: rgb(192, 215, 224);
    margin-left: 35px;
    margin-right: 35px;
    padding-left: 20px;
}
#main-area {
    margin-left: 20px;
}
#main-area p{
    margin-right: 35px;
}
.clear-it {/*for the Index page*/
    clear: right;
}
#about img {/*for the Index page*/
    filter: grayscale(100%);/*makes images black and white*/
}
/*for the Index page*/
@media (max-width: 250px) {
    #img1 {
        display: none;
    }
    #img2 {
        display: none;
    }
    #img3 {
        display: none;
    }
}
@media (max-width: 450px) {
    #img2 {
        display: none;
    }
    #img3 {
        display: none;
    }
    figure img{
        width:285px;
        height: auto;
    }
}
@media (max-width: 750px) {
    #img3 {
        display: none;
    }
}
@media (max-width: 1000px) {

}
@media (max-width: 1250px) {

}
@media (max-width: 2000px) {
    /*#img3 {
        display: none;
    }*/
}
#index-pics {
    text-align: center;
}
#gallery3 {/*This is for index/home*/
    padding-left: 30px;
    padding-right: 15px;
    background: url(bkgrnd.jpg) repeat-y left top, url(bkgrnd.jpg) repeat-y right top;
}
#pricing-text {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    padding-top: 0;
}
#gallery2 {/*This is for Pricing*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    padding-top: 0;
    background: url(bkgrnd.jpg) repeat-y left top, url(bkgrnd.jpg) repeat-y right top;
}
.thumb {/*This is for Pricing*/
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
#gallery {/*This is for the Portfolio*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
    background: url(bkgrnd.jpg) repeat-y left top, url(bkgrnd.jpg) repeat-y right top;
}
#gallery figure {/*This is for the Portfolio*/
  text-align: center;   /* centers inline content like img and text */
}
#gallery figure img {/*This is for the Portfolio*/
    margin: 0 auto;
    box-shadow:5px 5px 5px #777;
    display: block;
}
#gallery figure figcaption {/*This is for the Portfolio*/
    color: Black;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px #777;
}
#contact {/*This is for the Portfolio*/
    padding-left: 0px;
    padding-right: 0px;
    background: url(bkgrnd.jpg) repeat-y left, url(bkgrnd.jpg) repeat-y right;
}
/*Reservations page*/
label {
    float: left;
    display: block;
    text-align: left;
    width: 160px;
    padding-right: 5px;
}
input, textarea {
    display: block;
    margin-bottom: 20px;
}
input[type="submit"] {
    margin-left: 165px;
}
/*pricing page*/
#main-pricing {
    margin-top: 0;
    padding-top: 0;
}
table {
    border: 2px solid rgb(69,71,56);
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    background-color: rgb(241, 242, 244);
    font-size: .5em;
}
td, th {
    padding: .25em;
    border: 2px solid rgb(69,71,56);
}
th {
    color: rgb(241, 242, 244);
    background-color: rgb(69,71,56);
}
.text {
    text-align: left;
}
tr:nth-of-type(odd) {
    background-color: lightgray;
}